   /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map {
    height: 450px;
}


.DivToScroll{
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
}

.DivWithScroll{
    height:120px;
    overflow:scroll;
    overflow-x:hidden;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', sans-serif;
}

h5 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 15px;
    border-bottom: 2px solid #f2c94c;
    font-weight: 600;
    color: #949494;

}

#bloque {
    margin-top: -15px;
    font-size: 11px;
    position: absolute;
    float: left;
}

#boton {
    text-decoration: underline;
    color: #007fee;
    position: relative;
    float: right;
}

#boton:hover {
    color: #79c0ff;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.page-item {list-style: none}
.card-body h5{font-size:1em }
.card-body p{font-size:0.8em }
.card-body small{font-size:0.7em; color: #17a2b8 }

h5 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.1em;
    border-bottom: 2px solid #17a2b8;
    font-weight: 600;
    color: #232C31;
}

#boton {
    text-decoration: underline;
    color: #17a2b8;
    position: relative;
    float: right;
}

a {
    color: #17a2b8;
    text-decoration: none;
    background-color: transparent;
}
        /* 
        html {
            font-family: sans-serif;
            line-height: 1.15;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -ms-overflow-style: scrollbar;
            -webkit-tap-highlight-color: transparent;
        }

        body {
            margin: 0;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
        }*/
        
