h2{
    font-family: raleway;
    color: #bdbdbd;
}
#fondoa{
    border-left-color:#007fee;
    border-left-style: solid;
    border-radius: 0%;
}
#fondoa input{
    background-color: none;
    border-right:none;
    border-left:none;
    border-top: none;
    border-block-start:none;
    border-block-end-color: #e0e0e0; 
    border-block-end-width: 2px;
    border-radius: 0%;
    color: #a8a5a5;
    font-family: raleway;
    box-shadow: none;
}
#fondoa select{
    background-color: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-right:none;
    border-left:none;
    border-top: none;
    border-block-start:none;
    border-block-end-color: #e0e0e0; 
    border-block-end-width: 2px;
    border-radius: 0%;
    color: #a8a5a5;
    font-family: raleway;
    background: url('https://img.icons8.com/material/32/e0e0e0/sort-down.png')
    no-repeat right;
    box-shadow: none;
}
#fondoa input:hover{
    border-bottom-color:#f2c94c;
    border-bottom-width: 3px;
}
#fondoa select:hover{
    border-bottom-color: #eb5757;
    border-bottom-width: 3px;
}
#calle{
    background: url("https://img.icons8.com/ios/20/007fee/order-delivered.png")no-repeat left;
    padding-left: 20px;
}
#luneshora{
    background: url("https://img.icons8.com/windows/20/eb5757/clock.png")no-repeat left;
    padding-left: 20px;
}
#marteshora{
    background: url("https://img.icons8.com/windows/20/eb5757/clock.png")no-repeat left;
    padding-left: 20px;
}
#miercoleshora{
    background: url("https://img.icons8.com/windows/20/eb5757/clock.png")no-repeat left;
    padding-left: 20px;
}
#jueveshora{
    background: url("https://img.icons8.com/windows/20/eb5757/clock.png")no-repeat left;
    padding-left: 20px;
}
#vierneshora{
    background: url("https://img.icons8.com/windows/20/eb5757/clock.png")no-repeat left;
    padding-left: 20px;
}
#sabadohora{
    background: url("https://img.icons8.com/windows/20/eb5757/clock.png")no-repeat left;
    padding-left: 20px;
}
#domingohora{
    background: url("https://img.icons8.com/windows/20/eb5757/clock.png")no-repeat left;
    padding-left: 20px;
}
#fondob{
    border-left-color:#f2c94c;
    border-left-style: solid;
    border-radius: 0%;
}
#fondob input{
    background-color: none;
    border-right:none;
    border-left:none;
    border-top: none;
    border-block-start:none;
    border-block-end-color: #e0e0e0; 
    border-block-end-width: 2px;
    border-radius: 0%;
    color: #a8a5a5;
    font-family: raleway;
    box-shadow: none;
}
#fondob input:hover{
    border-bottom-color:#eb5757;
    border-bottom-width: 3px;
}
#fondob select:hover{
    border-bottom-color: #007fee;
    border-bottom-width: 3px;
}
#fondob select{
    background-color: none;
    border-right:none;
    border-left:none;
    border-top: none;
    border-block-start:none;
    border-block-end-color: #e0e0e0; 
    border-block-end-width: 2px;
    border-radius: 0%;
    color: #a8a5a5;
    font-family: raleway;
    outline: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('https://img.icons8.com/material/32/e0e0e0/sort-down.png')
    no-repeat right;
}
h6{
    color:#707070;
    font-family: raleway:600;
}
h5{
    color:#555555;
    font-family: raleway:600;
}
#fondob {
    font-family: raleway:600;
    color: #707070;
}
#explicacion{
    background: url("https://img.icons8.com/windows/20/f2c94c/edit.png")no-repeat left;
    padding-left: 25px;
}
#cuales{
    background: url("https://img.icons8.com/windows/20/007fee/edit.png")no-repeat left;
    padding-left: 25px;
}
#fondoc input{
    background-color: none;
    border-right:none;
    border-left:none;
    border-top: none;
    border-block-start:none;
    border-block-end-color: #e0e0e0; 
    border-block-end-width: 2px;
    border-radius: 0%;
    color: #a8a5a5;
    font-family: raleway;
    box-shadow: none;
}
#fondoc select{
    background-color: none;
    border-right:none;
    border-left:none;
    border-top: none;
    border-top: none;
    border-block-start:none;
    border-block-end-color: #e0e0e0; 
    border-block-end-width: 2px;
    border-radius: 0%;
    color: #a8a5a5;
    font-family: raleway;
    outline: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('https://img.icons8.com/material/32/e0e0e0/sort-down.png')
    no-repeat right;
}
#fondoc {
    border-left-color:#eb5757;
    border-left-style: solid;
    border-radius: 0%;
}
#fondoc h6{
    color:#707070;
    font-family: raleway:600;
}
#fondoc {
    font-family: raleway:600;
    color: #707070;
}
#fondoc input:hover{
    border-bottom-color:#f2c94c;
    border-bottom-width: 3px;
}
#fondoc select:hover{
    border-bottom-color: #007fee;
    border-bottom-width: 3px;
}
#telefonoresponsable{
   background: url("https://img.icons8.com/windows/20/eb5757/phone.png")no-repeat left; 
   padding-left: 25px;
}
#mailresponsable{
   background: url("https://img.icons8.com/windows/20/f2c94c/email.png")no-repeat left; 
   padding-left: 25px;
}
#fondod{
    border-left-color:#007fee;
    border-left-style: solid;
    border-radius: 0%;
}
#fondod input{
    background-color: none;
    border-right:none;
    border-left:none;
    border-top: none;
    border-block-start:none;
    border-block-end-color: #e0e0e0; 
    border-block-end-width: 2px;
    border-radius: 0%;
    color: #a8a5a5;
    font-family: raleway;
    box-shadow: none;
}
#fondoc {
    font-family: raleway:600;
    color: #707070;
}
#fondod select{
    background-color: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-right:none;
    border-left:none;
    border-top: none;
    border-block-start:none;
    border-block-end-color: #e0e0e0; 
    border-block-end-width: 2px;
    border-radius: 0%;
    color: #a8a5a5;
    font-family: raleway;
    background: url('https://img.icons8.com/material/32/e0e0e0/sort-down.png')
    no-repeat right;
    box-shadow: none;
}
#fondod select:hover{
    border-bottom-color: #007fee;
    border-bottom-width: 3px;
}
#fondoe input{
    background-color: none;
    border-right:none;
    border-left:none;
    border-top: none;
    border-block-start:none;
    border-block-end-color: #e0e0e0; 
    border-block-end-width: 2px;
    border-radius: 0%;
    color: #a8a5a5;
    font-family: raleway;
    box-shadow: none;
}
#fondoe{
    border-left-color:#f2c94c;
    border-left-style: solid;
    border-radius: 0%;
}

#fondoe input:hover{
    border-bottom-color:#eb5757;
    border-bottom-width: 3px;

}
.button{
    text-decoration: none;
    color: white;
    background-color:#007fee;
    border-radius:5px;
    font-size: 16px;
    padding: 10px 50px;
    width: 500px;
    font-family: raleway;
    font-weight: 600;
}
.button:hover{
    text-decoration:none;
    color:white;
    background-color: #008bed;
}

#progressbar {
    margin-top: 20px;
}

.progress-label {
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.ui-dialog-titlebar-close {
    display: none;
}
