charset="UTF-8
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
   
}
table{
    width: 700px;
    margin-left:50px;
    font-family: raleway;
    color: #a7a4a4;
    border:none;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0px -3px 22px -8px rgba(158,158,158,1);
}
td{
    width: 189px;
    height: 50px;
    border-bottom: 1px solid ; 
    border-bottom-color: #007fee;
}

th{
    background-color: rgba(228, 228, 228, 0.418);
    padding: 5px;
    text-align:center;
    
}
.comedor{
    border-left: 3px solid ; 
    border-left-color: #007fee;
}
.comedor:hover{
    border-bottom: 3px solid ; 
    border-bottom-color: #f2c94c;

}
.color{
    color:#007fee;
}
th, td {
    border:none;
    border-collapse: collapse;
    margin:30px;
    border-bottom: 1px solid ; 
    border-bottom-color: #c5c2c262;
    padding-left: 15px;
    
}
.merendero{
    border-left: 3px solid ; 
    border-left-color: #f2c94c;
}
.merendero:hover{
    border-bottom: 3px solid ; 
    border-bottom-color: #007fee;
}
button{
    text-decoration: none;
    background-color: #ff8484;
    color: white;
    -moz-force-broken-image-icon: none;
    border: none;
    border-radius: 900px;
    border-radius: 0px 300px 300px 300px ;
    border-radius: 100%;
    background: url("https://img.icons8.com/color/20/000000/delete-sign.png")
    no-repeat center;
    margin: 5px;
    width: 30px;
}

Nombre{
    background-color: #007fee;
    
   
}

