body{
    font-family: raleway;
    color: #bdbdbd;
}
h1{
    font-family: raleway;
    color: #bdbdbd;
}
    
row{
    z-index:3;
}
.formulario input{
    background-color: none;
    border-right:none;
    border-left:none;
    border-top: none;
    border-block-start:none;
    border-block-end-color: #e0e0e0; 
    border-block-end-width: 2px;
    border-radius: 0%;
    color: #a8a5a5;
    font-family: raleway;
    box-shadow: none;
}
.formulario select{
    background-color: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-right:none;
    border-left:none;
    border-top: none;
    border-block-start:none;
    border-block-end-color: #e0e0e0; 
    border-block-end-width: 2px;
    border-radius: 0%;
    width: 150px;
    color: #a8a5a5;
    font-family: raleway;
    background: url('https://img.icons8.com/material/32/e0e0e0/sort-down.png')
    no-repeat right;
    box-shadow: none;

}

#provinciasList{
    margin-left="5px;"
}
#provinciasList:hover{
    border-bottom-color:#f2c94c;
    border-bottom-width: 3px;
    
}

#municipiosList:hover{
    border-bottom-color:#007fee;
    border-bottom-width: 3px;
}
#energiasList:hover{
    border-bottom-color:#eb5757;
    border-bottom-width: 3px;
}
#serviciosList:hover{
    border-bottom-color:#f2c94c;
    border-bottom-width: 3px;
}

    .button{
        text-decoration: none;
        color: white;
        background-color:#007fee;
        margin: 5px;
        border-radius:5px;
        font-size: 15px;
        padding: 10px 12px;
        font-family: raleway;
        font-weight: 600;
    }
    .button:hover{
        text-decoration:none;
        color:white;
        background-color: #008bed;
    }

#filterCitys{
    width: 100%;
}

fieldset{
    width: 100%;
}
